{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="magix_login">
  <meta name="author" content="Mainak_Kundu">

  <title>{{title}}</title>
  <link rel="shortcut icon" href='{% static "favicon.ico" %}' />

  <!-- Custom fonts for this template-->
  <link href='{%static "userPanel/vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
  <!-- Custom styles for this template-->
  <link href='{%static "userPanel/css/sb-admin-2.css" %}' rel="stylesheet">

  <!-- Custom Magix CSS-->
  <link href='{% static "generic/custom.css" %}' rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9" style="
    padding-top: 80px;
">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back to Magix!</h1>
                    {% if messages %}
                      <div class="messages" style="width: 100%">
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                              {{ message }}
                            </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <form class="user" id="login_form">
                  	{% csrf_token %}
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block login-btn">
                      Login
                    </button>
<!--                     <hr> -->
<!--                     <a href="index.html" class="btn btn-google btn-user btn-block"> -->
<!--                       <i class="fab fa-google fa-fw"></i> Login with Google -->
<!--                     </a> -->
<!--                     <a href="index.html" class="btn btn-facebook btn-user btn-block"> -->
<!--                       <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook -->
<!--                     </a> -->
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/error/">Forgot Password?</a>
                  </div>
<!--                   <div class="text-center"> -->
<!--                     <a class="small" href="{% url 'sign_up' argm='premium' %}">Create an Account!</a> -->
<!--                   </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
<div id="toast_div"></div>
  <!-- Bootstrap core JavaScript-->
  <script src='{%static "userPanel/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{%static "userPanel/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  <!-- Core plugin JavaScript-->
  <script src='{%static "userPanel/vendor/jquery-easing/jquery.easing.min.js" %}'></script>

  <!-- Custom scripts for all pages-->
  <script src='{%static "userPanel/js/sb-admin-2.min.js" %}'></script>
  
  <!-- Custom Magix Jquery-->
  <script src='{%static "generic/custom.js" %}'></script>
  
    <!-- Custom scripts for ajax-->
  <script type="text/javascript">
  	$(document).on('submit', '#login_form', function(e){
  		e.preventDefault();

  		$(".login-btn").attr('disabled', true).html('Login <i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>');
  		
  		$.ajax({
  			type: 'POST',
  			url: {% url 'login' %},
  			data: {
  				next: '{{next}}',
  				email: $('#email').val(),
  				password: $('#password').val(),
  				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
  			},
	   		error:function(req,stat,err) { 
	   			show_toast(req.responseText); 
            	$(".login-btn").attr('disabled', false).html('Login');
          	},
  			success: function(resp){
	   			//alert(resp); 
	  			window.location.href=resp;
	        }
  		});
  	});
  
  </script> 

</body>

</html>