{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="magix_registration">
  <meta name="author" content="Mainak_Kundu">

  <title>{{title}}</title>
  <link rel="shortcut icon" href='{% static "favicon.ico" %}' />

  <!-- Custom fonts for this template-->
  <link href='{%static "userPanel/vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href='{%static "userPanel/css/sb-admin-2.css" %}' rel="stylesheet">

  <!-- Custom Magix CSS-->
  <link href='{% static "generic/custom.css" %}' rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container" style="
    padding-top: 80px;
">


    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Magix Account!</h1>
              </div>

              <form class="user" id="registration_form">
              	{% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="firstname" placeholder="First Name" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="lastname" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="email" placeholder="Email Address" required>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="password" placeholder="Password" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="repeatpassword" placeholder="Repeat Password" required>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Register Account
                </button>
<!--                 <hr> -->
<!--                 <a href="index.html" class="btn btn-google btn-user btn-block"> -->
<!--                   <i class="fab fa-google fa-fw"></i> Register with Google -->
<!--                 </a> -->
<!--                 <a href="index.html" class="btn btn-facebook btn-user btn-block"> -->
<!--                   <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook -->
<!--                 </a> -->
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="/error/">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
<div id="toast_div"></div>
  <!-- Bootstrap core JavaScript-->
  <script src='{%static "userPanel/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{%static "userPanel/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  <!-- Core plugin JavaScript-->
  <script src='{%static "userPanel/vendor/jquery-easing/jquery.easing.min.js" %}'></script>

  <!-- Custom scripts for all pages-->
  <script src='{%static "userPanel/js/sb-admin-2.min.js" %}'></script>
  
  <!-- Custom Magix Jquery-->
  <script src='{%static "generic/custom.js" %}'></script>
  
  <!-- Custom scripts for ajax-->
  <script type="text/javascript">
  	$(document).on('submit', '#registration_form', function(e){
  	  e.preventDefault();
  	
      $firstname = $('#firstname').val();
      $lastname = $('#lastname').val();
      $email = $('#email').val();
      $password = $('#password').val();
      $repeatpassword = $('#repeatpassword').val();
      $csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
  		
      if($password != $repeatpassword){
    	  show_toast("Password and Repeat Password is not the same.");
      }else{
    		$.ajax({
    			type: 'POST',
    			url: "{% url 'sign_up' argm='action' %}",
    			data: {
    				firstname: $firstname,
    				lastname: $lastname,
    				email: $email,
    				password: $password,
    				csrfmiddlewaretoken: $csrfmiddlewaretoken
    			},
        		error:function(req,stat,err) { 
        			if(req.responseText=='FORBIDDEN'){ window.location.href='/dashboard/'; }
        			show_toast(req.responseText); 
          		},
    			success: function(res){
    				$('#registration_form')[0].reset();
    				show_toast(res); 
    				setTimeout(function(){ window.location.href=window.location.origin+'/login/'; },3500);
    			}
    		});
      }
  	});

  </script> 
  


</body>

</html>