{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="magix_user_panel">
  <meta name="author" content="Mainak_Kundu">

  <title>{{title}}</title>
  <link rel="shortcut icon" href='{% static "favicon.ico"  %}'>

  <!-- Custom fonts for this template-->
  <link href='{% static "userPanel/vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed:400,700|Lato:300,400,900|Oswald:300,500,700|Raleway:400,700|Montserrat:800|Archivo+Black|Bellefair|Bungee|Cabin+Sketch:700|Caveat|Chewy|Handlee|Poiret+One|Russo+One|Abel|Acme|Alegreya+Sans|Amatic+SC|Anton|Arimo|Arvo|Asap|Athiti|Bowlby+One|Bree+Serif|Bubbler+One|Cabin|Cinzel|Cuprum|Dancing+Script|Dosis|Droid+Serif|EB+Garamond|Exo|Exo+2|Fira+Sans|Frijole|Gloria+Hallelujah|Inconsolata|Indie+Flower|Josefin+Sans|Josefin+Slab|Lobster|Maven+Pro|Muli|News+Cycle|Nunito|Open+Sans|Open+Sans+Condensed:300|Orbitron|Overpass|Oxygen|PT+Sans|PT+Sans+Caption|Pacifico|Pangolin|Pathway+Gothic+One|Patrick+Hand+SC|Patua+One|Permanent+Marker|Play|Playfair+Display|Quicksand|Raleway|Roboto+Mono|Satisfy|Shadows+Into+Light|Signika|Slabo+27px|Spectral|Ubuntu|Yanone+Kaffeesatz|Yellowtail" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href='{% static "userPanel/css/sb-admin-2.css" %}' rel="stylesheet">
  <link href='{% static "userPanel/css/editor-page.css" %}' rel="stylesheet">

  <!-- Custom Magix CSS-->
  <link href='{% static "generic/custom.css" %}' rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar" data-toggle="collapse">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      
        <div class="sidebar-brand-icon rotate-n-15">
          <img src='{% static "favicon.ico" %}'>
        </div>
        
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      
      <li class="nav-item">
        <a class="nav-link handler" href="javascript:void(0)" data-id="0">
          <i class="fas fa-fw fa-image"></i>
          <span>Images</span></a>
      </li>

	  <li class="nav-item">
        <a class="nav-link handler" href="javascript:void(0)" data-id="1">
          <i class="fas fa-fw fa-video"></i>
          <span>Videos</span></a>
      </li>
      
	  <li class="nav-item">
        <a class="nav-link handler" href="javascript:void(0)" data-id="2">
          <i class="fas fa-fw fa-star"></i>
          <span>Favourites</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link handler" href="javascript:void(0)" data-id="3">
          <i class="fas fa-fw fa-paint-brush"></i>
          <span>Designs</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link handler" href="javascript:void(0)" data-id="4">
          <i class="fas fa-fw fa-burn"></i>
          <span>Watermarks</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link handler" href="javascript:void(0)" data-id="5">
          <i class="fas fa-fw fa-music"></i>
          <span>Musics</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->
    
    
    <!-- Left Side bar pane -->
	{% block sub_sidebar_for_showing_activity %} {% endblock %}


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Project Title input/text  (Topbar) -->
          {% block projtitle %} {% endblock %}
        
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item -->
			<li class="nav-item save-progress-btn">
			
			   <a href="javascript:void(0)" class="btn btn-light btn-icon-split" id="totalduration" style="border: 1px solid #606b7d;">
					<span class="icon text-gray-800">
						<i class="fas fa-clock fa-fw"></i>
					</span>
					<span class="text">
							
					</span>
			   </a>
               <button class="btn btn-success btn-icon-split" id="saveprogress">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Save Progress</span>
               </button>
               
               <button class="btn btn-info btn-icon-split" id="previewproject">
                    <span class="icon text-white-50">
                      <i class="fas fa-play"></i>
                    </span>
                    <span class="text">Preview</span>
               </button>
            </li>  
            
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Magix Alerts
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">June 05, 2019</div>
                    <span class="font-weight-bold">Welcome, {{user.first_name}}! Your ready to use Magix Studio.</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">June 02, 2019</div>
                    Magix Studio deployed on Free Heroku Hosting with free space 500MB.
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">May 31, 2019</div>
                    Bitbucket Pipeline failed to deploy Magix Studio on Heroku.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="javascript:void(0)">Show All Alerts</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.first_name}}</span>
                <img class="img-profile rounded-circle" src="https://s3.amazonaws.com/wgvs-inbound-prod/avatars/default/avatar10.png">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>

                <a class="dropdown-item" href="{% url 'my_projects' %}">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  My Magix Projects
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  help
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Log Out
                </a>
              </div>
            </li>

          </ul>

        </nav>
        
        <!-- End of Topbar -->
		
		<!-- User Workspace-->
		
        {% block workspace %} {% endblock %}

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Octopus Solutions 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

 <!-- modals of the editor page -->
 {% block modals %} {% endblock %}

 <div id="toast_div"></div>

  <!-- Bootstrap core JavaScript-->
  <script src='{% static "userPanel/vendor/jquery/jquery.min.js" %}' type="text/javascript"></script>
  <script src='{% static "userPanel/vendor/bootstrap/js/bootstrap.bundle.min.js" %}' type="text/javascript"></script>
  <script src='{% static "userPanel/vendor/fabric/3.0.0/fabric.min.js" %}' type="text/javascript"></script>
  <!-- Core plugin JavaScript-->
  <script src='{% static "userPanel/vendor/jquery-easing/jquery.easing.min.js" %}' type="text/javascript"></script>

  <!-- Custom scripts for all pages-->
  <script src='{% static "userPanel/js/sb-admin-2.min.js" %}' type="text/javascript"></script>
  
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.min.js"></script>
  
  <!-- Custom Magix Jquery-->
  <script src='{%static "generic/custom.js" %}'></script>
  
  <script type="text/javascript">
	//Domain of global Variables 
	var mediaRoot = '{{media_root}}';
  	var tempJson = {{template|safe}};	
	var scaleIndex = 0, watermarkSizeChangeLimit = 1, load_min_canvas, miniCanvasIndex = 0, mini_canvas = [], ultimateBgImage = "", primfeat, frames=[], video1El;
	var canvas = new fabric.Canvas('popupEditorCanvas', { preserveObjectStacking: true });
	var prevcanvas = new fabric.Canvas('previewCanvas', { preserveObjectStacking: true });
	var totalDuration = [];
  </script>
  <script src='{% static "userPanel/js/left-panel.js" %}'  type="text/javascript"></script>
  <script src='{% static "userPanel/js/right-panel.js" %}'  type="text/javascript"></script>
  <script src='{% static "userPanel/js/fabric-loads.js" %}'  type="text/javascript"></script>
  <script src='{% static "userPanel/js/test-functions.js" %}'  type="text/javascript"></script>
  <script src='{% static "userPanel/js/editor-page.js" %}'  type="text/javascript"></script>
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>

</body>
</html>