{% extends "base.html" %}

{% load custom_filters %}

{% load staticfiles %}



<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- -------------------------------- || Sub-Siderbar HTML part for User Panel of Magix Studio || --------------------------------  -->
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

{% block sub_sidebar_for_showing_activity %}

	{% include 'sidepane.html' %}

{% endblock %}



<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------ || Navbar searchbar HTML part for User Panel of Magix Studio || ------------------------------  -->
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

{% block projtitle %} 

<div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
	<div class="input-group" title="Click to edit title">
		<div class="input-group-append">
			<button class="btn btn-default" type="button">
				<i class="fa fa-edit fa-sm"></i>
			</button>
		</div>
		<input id="proj_title" data-project_id="{{project.id}}" placeholder="Project Name" class="form-control bg-white border-0" type="text" size="30" value="{{project.title}}">
              
	</div>
</div>
          
{% endblock %}



<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ---------------------------------- || Workspace HTML part for User Panel of Magix Studio || ---------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

{% block workspace %}

<!-- Progress BAR -->
<div class="row progress progress-sm mb-2">
	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
					    
	</div>
</div>

<!-- Begin Page Content -->

<div class="container-fluid">
	
	<div class="container network-detect" style="display: none;">
	
		<div class="col-md-12 alert alert-danger fas" style="font-family: Trebuchet MS;">
		
		    <i class="fas fa-wifi"></i>
			Lost Internet Connection! Try not to save progress and leave this page, until you get your connection back.
		
		</div>
		
	</div>
	
	<div class="container popup-editor">
	
        <div class="row">
            
            <div class="col-sm-8">
            
                <div class="card shadow">

                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                        <h6 class="m-0 font-weight-bold text-primary">Expanded Frame <i class="fas fa-refresh fa-spin fa-fw"></i></h6>
                        <div class="dropdown no-arrow">
                            
                            <a class="close-popup-editor" href="javascript:void(0)" role="button">
                                <i class="fas fa-close fa-1x fa-fw"></i>
                            </a>

                        </div>

                    </div>

                    <!-- Card Body -->
                    <input type="hidden" id="project_id" value="{{project.id}}"/>
                    <div class="card-body">
                        <div class="embed-responsive">
							<canvas id="popupEditorCanvas" class="embed-responsive-item" height="400" width="640">
						    </canvas>
                        </div>

                    </div>
                    
                    <!-- Card Footer -->
                    <div class="card-footer">
                    	<button class="btn btn-danger btn-icon-split" id="deleteFrame" data-id="">
			            	<span class="icon text-white-50">
			                      <i class="fas fa-trash"></i>
			                </span>
			                <span class="text">DELETE</span>
			            </button>
                            
                        <button class="btn btn-info btn-icon-split" style="float: right;" id="playFrame">
				            <span class="icon text-white-50">
				                <i class="fas fa-play"></i>
				            </span>
				            <span class="text">PLAY</span>
			            </button>

                        
			        </div>

                </div>

            </div>
            <!-- /.col-sm-8 -->
            
            <div class="col-sm-4 editor">
            
                <div class="card shadow mb-4 type-duration">
               	<!-- Card Header - Accordion -->
               	
	               	<a href="#durationTool" class="rhs d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="durationTool">
	                 	<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-clock fa-fw"></i> DURATION </h6>
	               	</a>
	               	
	               	<!-- Card Content - Collapse -->
	               	<div class="collapse show" id="durationTool" >
						<div class="card-body">
	                 	
	                   		<form>
	           
							 	<div class="slidecontainer">
							 		
							 		<p>Durations <span id="durationLength-value">2</span> Sec</p>
							 		<input type="range" min="1" max="20" value="2" class="slider durationSlider" id="durationLength">
							 	</div>
							 
							</form>
	                	</div>
					</div>
             	</div>
             	
             	<div class="card shadow mb-4 type-voice">
               	<!-- Card Header - Accordion -->
               	
	               	<a href="#voiceTool" class="rhs d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="voiceTool">
	                 	<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-microphone fa-fw"></i> VOICE OVER </h6>
	               	</a>
	               		<!-- Card Content - Collapse -->
	               	<div class="collapse" id="voiceTool" >
						<div class="card-body">
	                 		<a href="javascript:void(0)" class="col-sm-12 btn btn-secondary btn-icon-split">
			                    <span class="icon text-gray-300">
			                      <i class="fas fa-volume-up"></i>
			                    </span>
			                    <span class="text"> Hold To Record </span>
			                </a>
	                	</div>
					</div>
             	</div>
             	
             	
             	<div class="card shadow mb-4 type-photo" style="display: none;">
               	<!-- Card Header - Accordion -->
               	
	               	<a href="#photoTool" class="rhs d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="photoTool">
	                 	<h6 class="m-0 font-weight-bold text-primary"> <i class="fas fa-images fa-fw"></i> BACKGROUND IMAGE </h6>
	               	</a>
	               		<!-- Card Content - Collapse -->
	               	<div class="collapse" id="photoTool" >
						<div class="card-body">
	                 	
	                   		<div>
	                   	
	 							<div class="form-group">
	 									<button class="col-sm-12 btn btn-secondary uploadsubmit_duplicate"><i class="fas fa-upload"></i> Upload Background Image </button>
	 							</div>
	 							<div class="form-group">		
	 									<button class="col-sm-12 btn btn-danger reset_background"><i class="fas fa-history"></i> Reset Background Image</button>		
	 							</div>	
	 							
	 							<hr>
	 							
	 							<div class="form-group">
	 							
	 								<div class="row">
	 									
	 									<div class="custom-label col-sm-4">
		   									<p>Rotate </p>
		   								</div>
		   								
		   								<div class="col-sm-4">
		   									<button class="form-control" id="rotate-acw"> <i class="fa fa-undo"></i> </button>
		   								</div>
		   								
		   								<div class="col-sm-4">
		   									<button class="form-control" id="rotate-cw"> <i class="fa fa-redo"></i> </button>
		   								</div>
		   								
	   								</div>
	   								
	 							</div>
	 							
	 							<hr>
	 							
	 							<div class="slidecontainer">
							 		<p>Scale <span id="photoScale-value"> </span></p>
							 		<input type="range" min="0.50" max="3.00"  step="0.10"  value="1.00" class="slider" id="photoScale">
							 	</div>
							 
							</div>
						</div>
					</div>
             	</div>
             	
             	<div class="card shadow mb-4 type-video" style="display: none;">
               	<!-- Card Header - Accordion -->
               	
	               	<a href="#videoTool" class="rhs d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="videoTool">
	                 	<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-video fa-fw"></i> VIDEO </h6>
	               	</a>
	               		<!-- Card Content - Collapse -->
	               	<div class="collapse" id="videoTool" >
						<div class="card-body">
	                 		<a href="javascript:void(0)" class="col-sm-12 btn btn-secondary btn-icon-split video-trimmer" data-path="" data-duration="" data-width="" data-height="" data-toggle="tooltip" title="">
			                    <span class="icon text-gray-300">
			                      <i class="fas fa-cut"></i>
			                    </span>
			                    <span class="text"> Trim Frame Video </span>
			                </a>              		
	                	</div>
					</div>
             	</div>
             	
             	<div class="card shadow mb-4 type-collage" style="display: none;">
               	<!-- Card Header - Accordion -->
               	
	               	<a href="#collageTool" class="rhs d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collageTool">
	                 	<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-th-large fa-fw"></i> COLLAGE </h6>
	               	</a>
	               		<!-- Card Content - Collapse -->
	               	<div class="collapse" id="collageTool" >
						<div class="card-body">
	                 	
	                   		
	                	</div>
					</div>
             	</div>
                
                <div class="card shadow mb-4 type-solidbackground" style="display: none;">
               	<!-- Card Header - Accordion -->
               	
	               	<a href="#solidbackgroundTool" class="rhs d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="solidbackgroundTool">
	                 	<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-paint-roller fa-fw"></i> SOLID BACKGROUND </h6>
	               	</a>
	               		<!-- Card Content - Collapse -->
	               	<div class="collapse" id="solidbackgroundTool" >
						<div class="card-body">
						
	                 		<div class="row form-group">
							   	<label class="col-sm-6">Background Color</label>
							   	<input type="color" class="col-sm-6 form-control BgColor" value="#000" id="bgColor">
							</div>
	                   		
	                	</div>
					</div>
             	</div>
             	
             	<div class="card shadow mb-4 type-text">
               	<!-- Card Header - Accordion -->
               	
	               	<a href="#textTool" class="rhs d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="textTool">
	                 	<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-pen-fancy fa-fw"></i> TEXTS </h6>
	               	</a>
	               	
	               	<!-- Card Content - Collapse -->
	               	<div class="collapse" id="textTool">
						<div class="card-body">
	                 	
	                   	
	 							<div class="form-group">
	   								<label>Enter Text</label>
	   								<input class="form-control text-content headingText" id="titleinput" rows="1" value="New Heading"/><br>
	   								<textarea class="form-control text-content subheadingText" id="subtitleinput" rows="1"> New Subheading </textarea>
	 							</div>
	 							
	 							<hr>
	 							
							 	<div class="slidecontainer">
							 		<p>Title Size <span id="titleSize-value"> </span></p>
							 		<input type="range" min="1" max="100" value="" class="slider headingTextSlider" id="titleSize">
							 	</div>
							 	
							 	<div class="slidecontainer">
							 		<p>SubTitle Size <span id="subtitleSize-value"> </span></p>
							 		<input type="range" min="1" max="100" value="" class="slider subheadingTextSlider" id="subtitleSize">
							 	</div>
							 	
							 	<hr>
							 	
							 	<div class="form-group">
	 								<div class="row">
	 								
	 									<div class="custom-label col-sm-6">
		   									<p>Title Styles</p>
		   								</div>
		   								
		   								<div class="col-sm-2">
		   								    <a href="javascript:void(0)" class="text-style btn" data-activity="title-bold">
							                    <span class="icon text-white-100">
							                      <i class="fa fa-bold"></i>
							                    </span>
						                    </a>
		   								</div>
		   								
		   								<div class="col-sm-2">
		   								    <a href="javascript:void(0)" class="text-style btn" data-activity="title-underline">
							                    <span class="icon text-white-100">
							                      <i class="fa fa-underline"></i>
							                    </span>
						                    </a>
		   								</div>
		   								
		   								<div class="col-sm-2">
		   									<a href="javascript:void(0)" class="text-style btn" data-activity="title-italic">
							                    <span class="icon text-white-100">
							                      <i class="fa fa-italic"></i>
							                    </span>
						                    </a>
		   								</div>
		   								
	   								</div>
	 							</div>
							 	
							 	<div class="form-group">
	 								<div class="row">
	 								
	 									<div class="custom-label col-sm-6">
		   									<p>SubTitle Styles</p>
		   								</div>
		   								
		   								<div class="col-sm-2">
		   								    <a href="javascript:void(0)" class="text-style btn" data-activity="subtitle-bold">
							                    <span class="icon text-white-100">
							                      <i class="fa fa-bold"></i>
							                    </span>
						                    </a>
		   								</div>
		   								
		   								<div class="col-sm-2">
		   								    <a href="javascript:void(0)" class="text-style btn" data-activity="subtitle-underline">
							                    <span class="icon text-white-100">
							                      <i class="fa fa-underline"></i>
							                    </span>
						                    </a>
		   								</div>
		   								
		   								<div class="col-sm-2">
		   									<a href="javascript:void(0)" class="text-style btn" data-activity="subtitle-italic">
							                    <span class="icon text-white-100">
							                      <i class="fa fa-italic"></i>
							                    </span>
						                    </a>
		   								</div>
		   								
	   								</div>
	 							</div>
							 	
							 	<hr>
							 	
							 	<div class="row form-group">
							   		<label class="custom-label col-sm-6">Title Color</label>
							   		<input type="color" class="col-sm-6 form-control headingTextColor" id="titleColor">
							 	</div>
							 	
							 	<div class="row form-group">
							   		<label class="custom-label col-sm-6">SubTitle Color</label>
							   		<input type="color" class="col-sm-6 form-control subheadingTextColor" id="subtitleColor">
							 	</div>
							 	
							 	<hr>
							 
							 	<div class="row form-group">
							   		<label class="custom-label col-sm-6">Title BgColor</label>
							   		<input type="color" class="col-sm-6 form-control headingTextColor" value="#000" id="titleBgColor">
							 	</div>
							 	
							 	<div class="row form-group">
							   		<label class="custom-label col-sm-6">SubTitle BgColor</label>
							   		<input type="color" class="col-sm-6 form-control subheadingTextColor" value="#000" id="subtitleBgColor">
							 	</div>
							 	
	                	</div>
					</div>
             	</div>
             	
             	
            </div>
            <!-- /.col-sm-4  -->
            
        </div>
        <!-- /.row  -->
        
	</div>
	<!-- /.container  -->
          
	<div class="container quick-editor">
          
		
		<div class="row">
		
			<div class="col-sm-4 new_frame">
		    		
		    		<a href="javascript:void(0)" id="frame_addition" data-toggle="tooltip" data-toggle="tooltip" title="Add New Video Frames">
		    			<img src='{% static "userPanel/img/plus.svg" %}' style="padding: 20%; width: 100%; height: 92%; box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15)"/>
		    		</a>
		    		
	    	</div>
	    	
		</div>
		<!-- /.row -->
		
	</div>
	<!-- /.container -->

</div>
<!-- /.container-fluid -->
        
{% endblock %} 



<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ---------------------------------- || Client-Side Modals for User Panel of Magix Studio || ----------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

{% block modals %}

	{% include 'modals.html' %}

{% endblock %}




