
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ---------------------------------- || Client-Side Modals for User Panel of Magix Studio || ----------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

<!-- Log Out Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">Save progress before logging out or else all unsaved data will be lost.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
</div>

<!-- Media Deletion Modal-->
<div class="modal fade" id="mediaDeletiontModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Do you really want to delete?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">After deleting this media, This media will be also deleted from our Database. So, make sure yourself before you delete.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger make-del-confirm" href="javascript:void(0)" data-del="">Delete</a>
        </div>
      </div>
    </div>
</div>

<!-- Frame Deletion Modal-->
<div class="modal fade" id="frameDeletiontModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Do you really want to delete?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">After deleting this Frame, all edited data will be lost which was present in this Frame. So, make sure yourself before you delete.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger delete-frame-confirm" href="javascript:void(0)" data-id="" data-callfrom="">Delete</a>
        </div>
      </div>
    </div>
</div>

<!-- Audio Player Modal-->  
<div class="modal fade" id="audioModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      	<div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Magix Audio Player</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
			<audio controls autoplay>
			  <source src="" type="audio/mp3">
			  Your browser does not support this feature.
			</audio>
		</div>
      </div>
    </div>
</div>

<!-- Video Player Modal-->  
<div class="modal fade" id="videoModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      	<div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Magix Video Player</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
			<video controls autoplay>
			  <source src="" type="video/mp4,video/avi,video/mkv">
			  Your browser does not support this feature.
			</video>
		</div>
      </div>
    </div>
</div>

<!-- Audio Trimmer Modal-->  
<div class="modal fade" id="audioTrimmerModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      	<div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Magix Audio Trimmer</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
			<audio controls autoplay>
			  <source src="" type="audio/mp3">
			  Your browser does not support this feature.
			</audio>
		</div>
		
		<div class="modal-footer">
			<div class="col-sm-2">
				<p>&nbsp;&nbsp; <span class="slider-time1 btn-success" style="padding: 5px; border-radius: 5px;"> 00:00 </span></p>
			</div>
			
    		<div id="audio-time-range" class="col-sm-8">
			    <div class="sliders_step1">
			        <div id="slider-range"></div>
			    </div>
			</div>
			
    		<div class="col-sm-2">
				<p>&nbsp;&nbsp; <span class="slider-time2 btn-danger" style="padding: 5px; border-radius: 5px;"> 00:00 </span></p>
			</div>
		</div>
		
		<div class="modal-footer">
    			
    			<div class="col-sm-12">
    			
    				<a href="javascript:void(0)" class="btn btn-primary btn-icon-split btn-sm" style="float: right; margin-left: 10px;">
	                    <span class="icon text-white-50">
	                      <i class="fas fa-cut"></i>
	                    </span>
	                    <span class="text">Continue & Trim</span>
	                </a> 
	                
    				<a href="javascript:void(0)" class="btn btn-secondary btn-icon-split btn-sm" data-dismiss="modal" aria-label="Close" style="float: right;">
	                    <span class="icon text-white-50">
	                      <i class="fas fa-close"></i>
	                    </span>
	                    <span class="text">Cancel</span>
	                </a>
	                
	            </div>
		</div>
		
      </div>
    </div>
</div>

<!-- Video Trimmer Modal-->  
<div class="modal fade" id="videoTrimmerModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      	<div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Magix Video Trimmer</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
        	<video controls>
			  <source src="" type="video/mp4">
			  Your browser does not support the video tag.
    		</video>
		</div>
		<div class="modal-footer">
		
			<div class="col-sm-2">
				<p>&nbsp;&nbsp; <span class="slider-time1 btn-secondary" style="padding: 5px; border-radius: 5px;"> 00:00 </span></p>
			</div>
			
    		<div id="video-time-range" class="col-sm-8">
			    <div class="sliders_step1">
			        <div id="slider-range"></div>
			    </div>
			</div>
			
    		<div class="col-sm-2">
				<p>&nbsp;&nbsp; <span class="slider-time2 btn-secondary" style="padding: 5px; border-radius: 5px;"> 00:00 </span></p>
			</div>
    		
		</div>
		
		<div class="modal-footer">
    			
    			<div class="col-sm-12">
    			
    				<a href="javascript:void(0)" class="btn btn-primary btn-icon-split btn-sm video-trimmer" data-dismiss="modal" aria-label="Close" style="float: right; margin-left: 10px;">
	                    <span class="icon text-white-50">
	                      <i class="fas fa-cut"></i>
	                    </span>
	                    <span class="text">Continue & Trim</span>
	                </a> 
	                
    				<a href="javascript:void(0)" class="btn btn-secondary btn-icon-split btn-sm" data-dismiss="modal" aria-label="Close" style="float: right;">
	                    <span class="icon text-white-50">
	                      <i class="fas fa-close"></i>
	                    </span>
	                    <span class="text">Cancel</span>
	                </a>
	                
	            </div>
		</div>
		
      </div>
    </div>
</div>

<!-- Frame Addition Modal-->
<div class="modal fade" id="frameAdditionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">What type to Frame do you want?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
        	<a href="javascript:void(0)" class="add_frame btn btn-light btn-block" data-action="add_photo" style="border: 1px solid #606b7d; padding: 10px; font-size: 25px;">
				<span class="text">
					<b><i class="fas fa-images fa-fw"></i> IMAGE </b>
				</span>
			</a>
			<a href="javascript:void(0)" class="add_frame btn btn-light btn-block" data-action="add_video" style="border: 1px solid #606b7d; padding: 10px; font-size: 25px;">
				<span class="text">
					<b><i class="fas fa-video fa-fw"></i> VIDEO </b>
				</span>
			</a>
			<a href="javascript:void(0)" class="add_frame btn btn-light btn-block" data-action="add_text" style="border: 1px solid #606b7d; padding: 10px; font-size: 25px;">
				<span class="text">
					<b><i class="fas fa-tenge fa-fw"></i> TEXTS </b>
				</span>
			</a>
			<a href="javascript:void(0)" class="add_frame btn btn-light btn-block" data-action="add_collage" style="border: 1px solid #606b7d; padding: 10px; font-size: 25px;">
				<span class="text">
					<b><i class="fas fa-th-large fa-fw"></i> COLLAGE </b>
				</span>
			</a>
			<a href="javascript:void(0)" class="add_frame btn btn-light btn-block" data-action="add_logo" style="border: 1px solid #606b7d; padding: 10px; font-size: 25px;">
				<span class="text">
					<b><i class="fas fa-registered fa-fw"></i> TRADEMARK </b>
				</span>
			</a>
        </div>
      </div>
    </div>
</div>

<!-- Fabric Preview Modal-->  
<div class="modal fade" id="previewModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-canvas" role="document">
      <div class="modal-content">
      	<div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Magix Final Preview</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
<!--             <div class="embed-responsive"> -->
				<canvas id="previewCanvas" class="embed-responsive-item" height="400" width="640"></canvas>
<!--             </div> -->
		</div>
		<div class="modal-footer">
		<!-- Progress BAR -->
		<div class="row progress progress-sm mb-2">
			<div class="progress-bar progress-bar-striped active previewSave" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
							    
			</div>
		</div>
		</div>
      </div>
    </div>
</div>

<!-- Log Out Modal-->
<div class="modal fade" id="networkDetectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Network Connectivity Issues</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">Lost Internet Connection! Try not to save progress and leave this page, until you get your connection back.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>