{% load custom_filters %}

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- -------------------------------- || Sub-Siderbar HTML part for User Panel of Magix Studio || --------------------------------  -->
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

<!-- Sub-Sidebar -->
<div class="navbar-nav bg-gradient-sub-sidebar sub-sidebar sidebar-dark accordion fixed" id="accordionSubSidebar">
	
      
    <!-- image upload section -->
 	<div class="side-nav">
        
		<div id="image">
			<div>
			
				
		          <h4 class="no-upload-status" {% if media_img_count != 0 %} style="display: none;" {% endif %}>
		            <b> Try to upload images from your computer into this area. </b> <br>
		          </h4>
		        
		        
				<form data-type="media">
					{% csrf_token %}
		            <input type="file" name="file" class="uploadinput" accept="image/png,image/jpeg,image/jpg,image/gif"/>
		            <input type="hidden" name="uploadtype" value="media_image"/>
		              	
					<center>
						<button class="btn btn-primary uploadsubmit"><i class="fas fa-upload"></i>  Upload Images </button>
					</center>
		        </form>
		          
              	<hr>

				<div class="container side-nav-container">
					<div class="row current-upload">
			          
						{% for x in media_img_lib %}
    						<div>
    							<div class="side-nav-activity" data-del="{{x.id}}" >
						          	<a class="fa fa-star side-nav-activity-btn make-fav" data-toggle="tooltip" title="Add to Favourites"></a>
						          	<a class="fa fa-trash side-nav-activity-btn make-del" data-toggle="tooltip" title="Delete this Image"></a>
						          	<a class="fa fa-check side-nav-activity-btn make-bg-image-sel" data-toggle="tooltip" title="Change Background Image" style="display: none;"></a>
						        </div>
    						    <img class="img-fluid img-thumbnail side-thumbnail" src="{{x.media}}"/>
    						</div>
    					{% endfor %}
    						
    				</div>
    				<!-- / .current-upload -->
				</div>
				<!-- / .side-nav-container -->
		          
			</div>
		</div>
			
	</div>
	<!-- / .side-nav -->
		
		
    <!-- video upload section -->
	<div class="side-nav">
		
		<div id="video">
			<div>
			
				<h4 class="no-upload-status" {% if media_video_count != 0 %} style="display: none;" {% endif %}>
					<b> Try to upload videos from your computer into this area. </b> <br>
				</h4>
                
		        <form data-type="video">
		        	{% csrf_token %}
		            <input type="file" name="file" class="uploadinput" accept="video/mp4,video/avi,video/mkv"/>
		            <input type="hidden" name="uploadtype" value="media_video"/>
		              	
		            <center>
		            	<button class="btn btn-primary uploadsubmit"><i class="fas fa-upload"></i> Upload Videos </button>
		            </center>
		        </form>

                <hr>
              	  
              	<div class="container side-nav-container">
			    	<div class="row current-upload">
			          
    						{% for x in media_video_lib %}
    						
    							{% with x.media|split:',' as y %}
	    						<div>
	    							<div class="side-nav-activity" data-del="{{x.id}}" >
							          	<a class="fa fa-star side-nav-activity-btn make-fav" data-toggle="tooltip" title="Add to Favourites"></a>
							          	<a class="fa fa-play side-nav-activity-btn make-video-play" data-path="{{ y.0 }}" data-duration="{{ y.2 }}" data-toggle="tooltip" title="Play this Video"></a>
							          	<a class="fa fa-trash side-nav-activity-btn make-del" data-toggle="tooltip" title="Delete this Video"></a>
							          	<a class="fa fa-check side-nav-activity-btn make-video-sel" data-path="{{ y.0 }}" data-duration="{{ y.2 }}" data-width="{{ y.3 }}" data-height="{{ y.4 }}" data-toggle="tooltip" title="Select and Crop this Video" style="display: none;"></a>
							        </div>
	    						    <img class="img-fluid img-thumbnail side-thumbnail" src="{{ y.1 }}"/>
	    						</div>
	    						{% endwith %}
	    						
    						{% endfor %}
    						
			    	</div>
			    	<!-- / .current-upload -->
              	</div>
              	<!-- / .side-nav-container -->

			</div>
		</div>                                               
		
	</div>
	<!-- / .side-nav -->
		
		
	<!-- favourite media section -->
	<div class="side-nav">
			
		<div id="favourites">
			<div>
			
		    	<h3 class="no-upload-status">
		            <b> Currently, you don't have any Favourite Items yet. </b> <br>
		    	</h3>
		          
				<center>
					<button type="button" class="btn btn-primary"><i class="fas fa-check"></i> Select Now </button>
				</center>
				
			</div>
		</div>
			
	</div>
	<!-- / .side-nav -->
	
	<!-- video template design section -->	 
	<div class="side-nav">
		
		<div id="design">
		
				<div class="card shadow mb-12">
               	<!-- Card Header - Accordion -->
               	
	               	<a href="#wholeColorTool" class="lhs d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="wholeColorTool">
	                 	<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fill-drip fa-fw"></i> COLOR </h6>
	               	</a>
	               		<!-- Card Content - Collapse -->
	               	<div class="collapse" id="wholeColorTool" >
						<div class="card-body">
	                 	
	                   		<form class="col-sm-12">
	           
							 	<div class="row form-group">
							   		<label class="col-sm-8"><b>Title Color</b></label>
							   		<input type="color" class="col-sm-4 form-control" id="wholeTitleColor">
							 	</div>
							 	
							 	<div class="row form-group">
							   		<label class="col-sm-8"><b>SubTitle Color</b></label>
							   		<input type="color" class="col-sm-4 form-control" id="wholeSubTitleColor">
							 	</div>
							 	
							 	<div class="row form-group">
								    <label class="col-sm-8"><b>Template BgColor</b></label>
									<input type="color" class="col-sm-4 form-control" id="wholeBgColor">
								</div>
							 
							</form>
							
	                	</div>
	                	
					</div>
					
             	</div>
				
				<hr>
             	
             	<div class="card shadow mb-12">
               	<!-- Card Header - Accordion -->
               	
	               	<a href="#wholeWatermarkTool" class="lhs d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="wholeWatermarkTool">
	                 	<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-tint fa-fw"></i> WATERMARK </h6>
	               	</a>
	               		<!-- Card Content - Collapse -->
	               	<div class="collapse" id="wholeWatermarkTool" >
						<div class="card-body">
	                 	
	                   		<div class="col-sm-12">
	           
							 	<div class="row form-group">
							   		<label class="col-sm-4 custom-label"><b>Size</b></label>
							   		<a href="javascript:void(0)" class="col-sm-4 watermark-size btn btn-outline-primary" style="border-radius: 5px 0px 0px 5px;" data-activity="watermark-large" data-toggle="tooltip" title="Large Watermark"><i class="fa fa-plus"></i></a>
							   		<a href="javascript:void(0)" class="col-sm-4 watermark-size btn btn-outline-primary" style="border-radius: 0px 5px 5px 0px;" data-activity="watermark-small" data-toggle="tooltip" title="Small Watermark"><i class="fa fa-minus"></i></a>
							 	</div>
								
							 	
							 	<div class="row form-group">
							   		<label class="col-sm-6 custom-label"><b>opacity</b></label>
							   		<a href="javascript:void(0)" class="col-sm-6 watermark-opacity btn btn-outline-primary" data-toggle="tooltip" title="Opacity: ON/OFF"><i class="fa fa-power-off"></i></a>
							 	</div>
								
								<div class="row form-group">
							   		<button class="col-sm-6 watermark-position btn btn-outline-primary" data-position="top-left" style="border: 0px; border-radius: 0px; transform: scaleX(-1);">
							   			<i class="fa fa-external-link-square fa-3x"></i>
							   		</button>
							   		<button class="col-sm-6 watermark-position btn btn-outline-primary" data-position="top-right" style="border: 0px; border-radius: 0px; transform: scaleX(1);">
							   			<i class="fa fa-external-link-square fa-3x"></i>
							   		</button>
							   		<button class="col-sm-6 watermark-position btn btn-outline-primary" data-position="bottom-left" style="border: 0px; border-radius: 0px; transform: scale(-1);">
							   			<i class="fa fa-external-link-square fa-3x"></i>
							   		</button>
							   		<button class="col-sm-6 watermark-position btn btn-outline-primary" data-position="bottom-right" style="border: 0px; border-radius: 0px; transform: scaleY(-1);">
							   			<i class="fa fa-external-link-square fa-3x"></i>
							   		</button>
							 	</div>							 
							</div>
							
	                	</div>
	                	
					</div>
					
             	</div>
				
				<hr>
				
				<div class="card shadow mb-12">
               	<!-- Card Header - Accordion -->
               	
	               	<a href="#wholeFontTool" class="lhs d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="wholeFontTool">
	                 	<h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-font fa-fw"></i> FONT FAMILIES </h6>
	               	</a>
	               		<!-- Card Content - Collapse -->
	               	<div class="collapse show" id="wholeFontTool" >
	               	
						<div class="card-body" style="height: 500px; overflow-x: hidden; overflow-y: auto;"> <!-- Temporary Styling -->
	                 	
	                 	{% with template|loadjson as temp_json %}
	                 	
	                   		<form class="col-sm-12">
	                   		
	                   		{% for x in font_family %}
	                   			
	                   			<div class="form-group">
								    
									<input type="radio" name="wholeFontFamily" class="col-sm-2 wholeFontFamily" value="{{x}}" {% if x == temp_json.design.font %} checked="checked" {% endif %}>
									
									<label class="col-sm-10" style="font-family: {{x}}">
									
									{% with x|split:',' as y %} 
									
										{% with y.0|split:'"' as z %}
									  	
										     {{ z.1 }} 
										    
										{% endwith %}
										
									{% endwith %}
									
									</label>
								
								</div>
							 
							 {% endfor %}
							 
							</form>
							
							{% endwith %}
							
	                	</div>
	                	
					</div>
					
             	</div>
             	
		</div>
			
	</div>
	<!-- / .side-nav -->
		
		
	<!-- watermark upload section -->	
	<div class="side-nav">
			
		<div id="watermark">
			<div>
			
				<h4 class="no-upload-status" {% if media_watermark_count != 0 %} style="display: none;" {% endif %}>
		           <b> Try to upload watermarks from your computer into this area. </b> <br>
		        </h4>
		          
				<form data-type="media">
		        	{% csrf_token %}
					<input type="file" name="file" class="uploadinput" accept="image/png"/>
					<input type="hidden" name="uploadtype" value="media_watermark"/>
		              	
					<center>
						<button class="btn btn-primary uploadsubmit"><i class="fas fa-upload"></i> Upload Watermarks </button>
					</center>
				</form>

				<hr>

				<div class="container side-nav-container">
					<div class="row current-upload">
                
						{% for x in media_watermark_lib %}
							<div>
	    						<div class="side-nav-activity" data-del="{{x.id}}" >
							    	<a class="fa fa-star side-nav-activity-btn make-fav" data-toggle="tooltip" title="Add to Favourites"></a>
							        <a class="fa fa-trash side-nav-activity-btn make-del" data-toggle="tooltip" title="Delete this Image"></a>
							        <a class="fa fa-check side-nav-activity-btn make-watermark-sel" data-toggle="tooltip" title="Apply OR Change Watermark"></a>
							    </div>
	    						<img class="img-fluid img-thumbnail side-thumbnail" src="{{x.media}}" />
	    					</div>
						{% endfor %}
                
					</div>
					<!-- / .current-upload -->
				</div>
				<!-- / .side-nav-container -->
                
			</div>
		</div>
			
	</div>
	<!-- / .side-nav -->
		
		
	<!-- music upload section -->
	<div class="side-nav">
			
		<div id="music">
			<div>
			
				<h4 class="no-upload-status" {% if media_audio_count != 0 %} style="display: none;" {% endif %}>
					<b> Try to upload musics from your computer into this area. </b> <br>
				</h4>
		          
				<form  data-type="media">
		            
					{% csrf_token %}
					<input type="file" name="file" class="uploadinput" accept="audio/mp3"/>
					<input type="hidden" name="uploadtype" value="media_audio"/>

					<center>
						<button class="btn btn-primary uploadsubmit"><i class="fas fa-upload"></i> Upload Musics </button>
					</center>
		              
				</form>

				<hr>

              	<div class="container side-nav-container">
                	<div class="row current-upload">
                
	                	{% for x in media_audio_lib %}
	                	
	                		{% with x.media|split:',' as y %}
		                    <div>
	    						<div class="side-nav-activity" data-del="{{x.id}}" >
							    	<a class="fa fa-star side-nav-activity-btn make-fav" data-toggle="tooltip" title="Add to Favourites"></a>
							    	<a class="fa fa-play side-nav-activity-btn make-audio-play" data-path="{{ y.0 }}" data-duration="{{ y.1 }}" data-toggle="tooltip" title="Play this Audio"></a>
							        <a class="fa fa-trash side-nav-activity-btn make-del" data-toggle="tooltip" title="Delete this Audio"></a>
							        <a class="fa fa-check side-nav-activity-btn make-audio-sel" data-path="{{ y.0 }}" data-duration="{{ y.1 }}" data-toggle="tooltip" title="Select this Audio"></a>
							    </div>
	    						<img class="img-fluid img-thumbnail side-thumbnail" src="{{media_root}}uploaded_media/music.png"/>
	    					</div>
	    					{% endwith %}
	    					
	                	{% endfor %}
                
	                </div>
	                <!-- / .current-upload -->
				</div>
				<!-- / .side-nav-container -->
		          
			</div>
		</div>
			
	</div>
	<!-- / .side-nav -->

</div>
<!-- / .sub-sidebar -->