{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Business, Service">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="magix_index">
    <meta name="author" content="Mainak_Kundu">
    
    <title>{{title}}</title>
    
    <!--====== Favicon Icon ======-->
    
    <link rel="shortcut icon" href='{% static "favicon.ico" %}' />
    
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href='{% static "index/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/LineIcons.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/owl.carousel.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/owl.theme.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/nivo-lightbox.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/main.css" %}'>    
    <link rel="stylesheet" href='{% static "index/css/responsive.css" %}'>
    
    <!-- Font Awesome CSS -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  
  <body>

    <!-- Header Section Start -->
    <header id="home" class="hero-area">    
      
      <nav class="navbar navbar-expand-md menu-bg">
        <div class="container">
          <a href="/" class="navbar-brand"><img src="/static/index/img/logo.png" alt=""></a>       
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'index' %}">Home</a>
              </li>                            
              <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'my_projects' %}">Showcase</a>
              </li>

              <li class="nav-item">
                <a class="btn btn-singin" href="{% url 'index' %}">{{user.first_name}}</a>
              </li>

              <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'logout' %}">Log Out</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>  
                   
    </header>
    <!-- Header Section End --> 
    
     <!-- My Projects Section Start -->
    <section id="services" class="section">
      <div class="container">
		
		<!-- Start Row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="section-header text-center">  
              <div>   
                <h2 class="section-title">Magix Video Projects of {{user.first_name}}</h2>
                <div class="desc-text">
                  <p> </p>
                </div>
              </div> 
            </div>
          </div>

        </div>
        <!-- End Row -->
		
        <div class="row">
        
          {% if projects_count == 0 %}
          
	          <!-- Start Col -->
	          <div class="col-lg-4 col-md-6 col-xs-12">
	            <div class="services-item text-center">
	              <div class="icon">
	                <i class="fa fa-folder-open"></i>
	              </div>
	              <h2>Empty Bin</h2>
	              <p>Try to make some projects first. <br> Hurry Up!</p>
	            </div>
	          </div>
	          <!-- End Col -->
          
          {% else %}
          
	          <!-- Start Col -->
	          {% for x in projects %}
	          
		          <div class="col-lg-4 col-md-6 col-xs-12" style="margin-bottom: 20px;">
		          
		              {% if x.status == 0 %}
		            	<img alt="{{x.title}}" src="../../media/{{x.preview}}" style="height: 200px; width: 100%; object-fit: cover;">	
			          {% elif x.status == 1 %}
		            	<img alt="{{x.title}}" src="../../media/uploaded_media/{{request.user.username}}/{{x.id}}/{{x.id}}_final.gif" style="height: 200px; width: 100%; object-fit: cover;">	
		              {% endif %}
		            
		            <div class="services-item text-center" style="padding: 20px 30px;">
		            
		              <h4>{{x.title}}</h4>
		              
		              {% if x.status == 0 %}
		              
		              	<div class="row plan-button">
		              	
			                <a href="{% url 'editor' pid=x.id %}" class="col-sm-6 btn btn-border"> <i class="fa fa-edit" aria-hidden="true"></i> EDIT</a>
			                
			                <a href="#" class="col-sm-6 btn btn-border"> <i class="fa fa-trash-o" aria-hidden="true"></i> DELETE</a>
			                
			            </div>
			            
			          {% elif x.status == 1 %}
			          
			          	<div class="row plan-button">
			          	
			          		<a href="{% url 'video_viewer' vid=x.id %}" class="col-sm-3 btn btn-border"> <i class="fa fa-play" aria-hidden="true"></i> </a>
			                
			                <a href="#" class="col-sm-3 btn btn-border"> <i class="fa fa-download" aria-hidden="true"></i> </a>
			                
			                <a href="#" class="col-sm-3 btn btn-border"> <i class="fa fa-copy" aria-hidden="true"></i> </a>
			                
			                <a href="#" class="col-sm-3 btn btn-border"> <i class="fa fa-trash-o" aria-hidden="true"></i> </a>
			            
			            </div>
			            
		              {% endif %}
		              
		            </div>
		            
		          </div>
		          
		      {% endfor %}
	          <!-- End Col -->
          
          {% endif %}
          
          <!-- Start Col -->
          <div class="col-lg-4 col-md-6 col-xs-12">
          
            <div class="services-item text-center">
            
          	    <a href="{% url 'select_template' %}">
	                 <div class="icon">
	                 
	                   <i class="fa fa-plus"></i>
	                   
	                 </div>
	                 
	                 <h3>Add New Projects</h3>
	                 
	            </a>
	            
            </div>
	          
	      </div>
	      <!-- End Col -->
	      
        </div>
        <!-- End Row -->

      </div>
    </section>
    <!-- My Projects Section End -->
    

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section id="footer-Content">
        <div class="container">
          <!-- Start Row -->
          <div class="row">

          <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              
              <div class="footer-logo">
               <img src='{% static "index/img/footer-logo.png"  %}' alt="">
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Company</h3>
                <ul class="menu">
                  <li><a href="#">- About Us</a></li>
                  <li><a href="#">- Career</a></li>
                  <li><a href="#">- Blog</a></li>
                  <li><a href="#">- Press</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Product</h3>
                <ul class="menu">
                  <li><a href="#">- Customer Service</a></li>
                  <li><a href="#">- Enterprise</a></li>
                  <li><a href="#">- Price</a></li>
                  <li><a href="#">- Scurity</a></li>
                  <li><a href="#">- Why Magix Studio?</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Download App</h3>
                <ul class="menu">
                  <li><a href="#">- Android App</a></li>
                  <li><a href="#">- IOS App</a></li>
                  <li><a href="#">- Windows App</a></li>
                  <li><a href="#">- Play Store</a></li>
                  <li><a href="#">- IOS Store</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Subscribe Now</h3>
                <p>Appropriately implement calysts for change visa wireless catalysts for change. </p>
                <div class="subscribe-area">
                  <input type="email" class="form-control" placeholder="Enter Email">
                  <span><i class="lni-chevron-right"></i></span>
                </div>
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- Copyright Start  -->

        <div class="copyright">
          <div class="container">
            <!-- Star Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="site-info text-center">
                  <p>Copyright &copy; <a href="http://uideck.com" rel="nofollow">Octopus Solutions 2019</a></p>
                </div>              
                
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>
    <!-- Footer Section End --> 


    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a> 

    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src='{% static "index/js/jquery-min.js" %}'></script>
    <script src='{% static "index/js/popper.min.js" %}'></script>
    <script src='{% static "index/js/bootstrap.min.js" %}'></script>
    <script src='{% static "index/js/owl.carousel.js" %}'></script>      
    <script src='{% static "index/js/jquery.nav.js" %}'></script>    
    <script src='{% static "index/js/scrolling-nav.js" %}'></script>    
    <script src='{% static "index/js/jquery.easing.min.js" %}'></script>     
    <script src='{% static "js/nivo-lightbox.js" %}'></script>     
    <script src='{% static "index/js/jquery.magnific-popup.min.js" %}'></script>      
    <script src='{% static "index/js/main.js" %}'></script>
    
  </body>
</html>