{% load staticfiles %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Business, Service">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="magix_index">
    <meta name="author" content="Mainak_Kundu">
    
    <title>{{title}}</title>
    
    <!--====== Favicon Icon ======-->
    
    <link rel="shortcut icon" href='{% static "favicon.ico" %}' />
    
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href='{% static "index/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/LineIcons.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/owl.carousel.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/owl.theme.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/nivo-lightbox.css" %}'>
    <link rel="stylesheet" href='{% static "index/css/main.css" %}'>    
    <link rel="stylesheet" href='{% static "index/css/responsive.css" %}'>
    
    <!-- Font Awesome CSS -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
    .select-temp{
    	cursor:pointer;
    }
    </style>

  </head>
  
  <body>

    <!-- Header Section Start -->
    <header id="home" class="hero-area">    
      
      <nav class="navbar navbar-expand-md menu-bg">
        <div class="container">
          <a href="/" class="navbar-brand"><img src="/static/index/img/logo.png" alt=""></a>       
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'index' %}">Home</a>
              </li>                            
              <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'my_projects' %}">Showcase</a>
              </li>

              <li class="nav-item">
                <a class="btn btn-singin" href="{% url 'index' %}">{{user.first_name}}</a>
              </li>

              <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'logout' %}">Log Out</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>  
                   
    </header>
    <!-- Header Section End -->
 

    <!-- Template Choice Section Start -->
    <section id="services" class="section">
      <div class="container">
		{% for cat in cats %}
		<h2 class="section-title">{{cat.cat_title}} Templates</h2><br>
        <div class="row">
          {% for temp in cat.cat_temps|split:',' %}
	          <!-- Start Col -->
	          <div title="Click to select" class="col-lg-4 col-md-6 col-xs-12 select-temp" onclick="tempChoice($(this))" data-id="{{temp}}" data-title="Template {{temp}}" data-video="{{media_root}}templates/{{temp}}/video.mp4">
		            <img alt="template{{temp}}" src="{{media_root}}templates/{{temp}}/preview.jpg" style="height: 200px; width: 100%; object-fit: cover;">
		            <div class="services-item text-center" style="padding: 20px 30px;">
		              <h4>Template {{temp}}</h4>
		            </div>
		       </div>
          {% endfor %}
          
        </div> 
        
        <hr>
       {% endfor %}        
        
      </div>
      
    </section>
    <!-- Template Choice  Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section id="footer-Content">
        <div class="container">
          <!-- Start Row -->
          <div class="row">

          <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              
              <div class="footer-logo">
               <img src="/static/index/img/footer-logo.png" alt="">
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Company</h3>
                <ul class="menu">
                  <li><a href="#">- About Us</a></li>
                  <li><a href="#">- Career</a></li>
                  <li><a href="#">- Blog</a></li>
                  <li><a href="#">- Press</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Product</h3>
                <ul class="menu">
                  <li><a href="#">- Customer Service</a></li>
                  <li><a href="#">- Enterprise</a></li>
                  <li><a href="#">- Price</a></li>
                  <li><a href="#">- Scurity</a></li>
                  <li><a href="#">- Why Magix Studio?</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Download App</h3>
                <ul class="menu">
                  <li><a href="#">- Android App</a></li>
                  <li><a href="#">- IOS App</a></li>
                  <li><a href="#">- Windows App</a></li>
                  <li><a href="#">- Play Store</a></li>
                  <li><a href="#">- IOS Store</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Subscribe Now</h3>
                <p>Appropriately implement calysts for change visa wireless catalysts for change. </p>
                <div class="subscribe-area">
                  <input type="email" class="form-control" placeholder="Enter Email">
                  <span><i class="lni-chevron-right"></i></span>
                </div>
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- Copyright Start  -->

        <div class="copyright">
          <div class="container">
            <!-- Star Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="site-info text-center">
                  <p>Copyright © <a href="http://uideck.com" rel="nofollow">Octopus Solutions 2019</a></p>
                </div>              
                
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>
    <!-- Footer Section End --> 


    <!-- Go To Top Link -->
    <a href="#" class="back-to-top" style="display: none;">
      <i class="lni-chevron-up"></i>
    </a> 

    <!-- Preloader -->
    <div id="preloader" style="display: none;">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    
    <!-- Template Preview Modal -->
	<div id="previewModal" class="modal fade" role="dialog" style="padding-top: 100px;">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title"> </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
	      </div>
	      <div class="modal-body">
	      	<video controls style="height: 100%; width: 100%;">
			  <source src="" type="video/mp4,video/avi,video/mkv">
			  Your browser does not support this feature.
			</video>
	      </div>
	      <div class="modal-footer">
	      	<a class="btn btn-primary" href="fb.com" id="continue">Continue</a>
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	
	  </div>
	</div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/static/index/js/jquery-min.js"></script>
    <script src="/static/index/js/popper.min.js"></script>
    <script src="/static/index/js/bootstrap.min.js"></script>
    <script src="/static/index/js/owl.carousel.js"></script>      
    <script src="/static/index/js/jquery.nav.js"></script>    
    <script src="/static/index/js/scrolling-nav.js"></script>    
    <script src="/static/index/js/jquery.easing.min.js"></script>     
    <script src="/static/index/js/nivo-lightbox.js"></script>     
    <script src="/static/index/js/jquery.magnific-popup.min.js"></script>      
    <script src="/static/index/js/main.js"></script>
    
    <script type="text/javascript">
    	function tempChoice(thisDiv) {
    		console.log("playing template preview video...");
    		
			var proceedUrl = "{% url 'set_template' tid='tid' %}";
    		
    		$("#previewModal").find(".modal-title").text(thisDiv.data('title'));
        	
        	$("#previewModal").find("video").attr("src",thisDiv.data('video'));
        	
        	$("#previewModal").find(".btn-primary").attr("href", proceedUrl.replace('tid',thisDiv.data('id')));
        	
        	$("#previewModal").modal("show");
    	}
    </script>
    
  
</body>
</html>